<app-nav-bar></app-nav-bar>
<div class="mainbody">

    <div class="logo">
    <h1>Welcome to Food Box</h1>
    </div>
    
    <div id="login-box">
    
      <div class="left">
        <h1>Login In</h1>
        
        
        <input type="text" name="email" placeholder="E-mail" />
      
        <input type="password" name="password" placeholder="Password" />
        
        
        <input type="submit" name="login_submit" value="Login In" />
        <h5>Don't have any account?</h5>
        <a routerLink="/register">Register</a>
    
      </div>
      
      <div class="right">
      
      </div>
    </div>
    
    </div>
